main {
  background-color: #000A1F !important;

  .comp1 {
    min-height: 100vh;
    background: url(../assets/images/Vector1.png) no-repeat;
    background-position: center bottom;
    background-size: 100% 50vh;
    background-blend-mode: multiply;


    &>div {
      width: 70%;
      flex-grow: 1;
    }

    .logo {
      width: 80px;
    }

    .menu {
      width: 20px;
    }

    .nav {
      color: #fff;

      div {
        cursor: pointer;
      }

      >div:nth-child(1) {
        text-decoration: underline;
      }
    }

    .content {
      .foreground {
        width: 85%;
        margin-right: -100px;
      }

      .bulb {
        width: 180px;
        right: 0;
        top: 10%;
      }

      p {
        opacity: 0.7;
        font-size: 13px;
      }
    }

    .bottom-content {
      .top {
        border-bottom: 1px solid gray;

        span {
          opacity: 0.6;
          font-size: 13px;
        }
      }

      img {
        height: 90px;
      }
    }
  }

  .comp2 {
    &>div {
      width: 70%;
      flex-grow: 1;
    }

    .content1 {
      .left {
        margin-top: -30px;

        img {
          width: 70%;
          min-width: 300px;
        }
      }

      .right {
        img {
          width: 60px;
          height: 40px;
        }

        p {
          font-size: 12px;
          opacity: 0.5;
        }
      }
    }

    .content2 {
      .left {
        p {
          font-size: 13px;
          opacity: 0.6;
        }

        button {
          width: fit-content;
          border: none;
          background: #292738;
          font-size: 12px;
          border-radius: 4px;

          img {
            width: 20px;
          }
        }
      }

      .right {
        margin-top: -30px;

        // margin-right: -100px;
        img {
          width: 100%;
          min-width: 300px;
          max-width: 400px;
        }
      }
    }

    .content3 {
      .left {
        img {
          min-width: 300px;
          max-width: 450px;
        }
      }

      .right{

        button {
          width: fit-content;
          border: none;
          background: #292738;
          font-size: 12px;
          border-radius: 4px;
          text-align: left;
          margin-bottom: 25px;

          p{
            font-size: 12px;
            opacity: 0.5;
            line-height: 18px;
          }

          .tick {
            width: 40px;
          }

          .arrow{
            width: 50px;
          }
        }

        >button:nth-child(2){
          margin-left: 35px;
        }

        >button:nth-child(3){
          margin-left: 70px;
        }

        >button:nth-child(4){
          margin-left: -30px;
        }

        >button:nth-child(5){
          margin-left: -150px;
        }
        
      }
    }

  }

  .pseudo{
    width: 60px;
    height: 10px !important;
  }
}