<main>

  <section class="d-flex flex-column comp1 w-100 pt-4 pb-4">
    <div class="mx-auto d-flex flex-column align-items-start h-100 mb-5">

      <header class="w-100 d-flex justify-content-between align-items-center">
        <img class="logo" src="../assets/images/Logo-Lift-2022-B.png.png">
        <div class="nav d-flex">
          <div class="me-5">Home</div>
          <div class="me-5">Clients</div>
          <div class="me-5">Services</div>
          <div class="me-5">Projects</div>
          <div class="me-5">About</div>
          <div class="me-5">Contact</div>
        </div>
        <img class="menu pointer" src="../assets/images/Vector.svg">
      </header>

      <div class="content mt-5 mb-5 row white justify-content-between">
        <div class="col-5 mb-5 d-flex flex-column justify-content-center align-items-start p-relative">
          <h1>We Provide <br> Smart Business <br> Solutions</h1>
          <p class="m-0">Grow your Business With Us Best Business Solutions</p>
          <img class="p-absolute bulb" src="../assets/images/object-4.png.png">
        </div>
        <div class="col-7 d-flex justify-content-end">
          <img class="foreground" src="../assets/images/Image Forground.png">
        </div>
      </div>

      <div class="bottom-content mt-5">
        <div class="top pb-3 white row justify-content-between">
          <div class="col-5">
            <img class="pseudo mb-2" src="../assets/images/pseudo.png">
            <h3>We’ve More Then 254+ <br> Global Partners</h3>
          </div>

          <span class="col-5">
            Sed ut perspiciatis unde omnis natus error voluptatem santium doloremque laudantium, totam rem aperiam,
            eaque ipsa quae ab nllo inventore veritatis quasi architecto beatae vitae
          </span>
        </div>
        <img class="w-100" src="../assets/images/Group 162535.png">
      </div>

    </div>
  </section>

  <section class="d-flex flex-column comp2 w-100 pt-4 pb-2">

    <div class="content1 mt-5 mb-5 row white justify-content-between mx-auto">
      <span class="col-5 left">
        <img class="" src="../assets/images/Image.png">
      </span>


      <div class="right col-7 d-flex flex-column">
        <h3 class="mb-5">
          Explore Our Professional <br>
          Business Solutions
        </h3>

        <div class="row">
          <div class="col-6 row mb-5">
            <img class="col-3" src="../assets/images/feature-1.png.png">
            <div class="col-9">
              <h6>Business Growth</h6>
              <p class="m-0">Sed perspiciatis unde omnis natus error voluptatem</p>
            </div>
          </div>
          <div class="col-6 row mb-5">
            <img class="col-3" src="../assets/images/feature-2.png.png">
            <div class="col-9">
              <h6>Business Growth</h6>
              <p class="m-0">Sed perspiciatis unde omnis natus error voluptatem</p>
            </div>
          </div>
          <div class="col-6 row">
            <img class="col-3" src="../assets/images/feature-1.png.png">
            <div class="col-9">
              <h6>Business Growth</h6>
              <p class="m-0">Sed perspiciatis unde omnis natus error voluptatem</p>
            </div>
          </div>
          <div class="col-6 row">
            <img class="col-3" src="../assets/images/feature-2.png.png">
            <div class="col-9">
              <h6>Business Growth</h6>
              <p class="m-0">Sed perspiciatis unde omnis natus error voluptatem</p>
            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="content2 mt-5 pt-5 row white justify-content-between mx-auto">

      <div class="left col-6 mt-4 d-flex flex-column">
        <div class="mb-3">
          <img class="pseudo mb-2" src="../assets/images/pseudo.png">
          <h3 class="">
            We’re Awards Winning <br>
            Modern Business Solutions <br>
            Agency
          </h3>
        </div>

        <p class="m-0">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium totam rem aperiam eaque
          epsa quae ab illo inventore veritatis architecto beatae
        </p>

        <div class="row ms-3 mt-4">
          <button class="white mb-2 me-2 py-2 px-3 d-flex align-items-center justify-content-center">
            <img class="me-2" src="../assets/images/check.png">
            <span>Tech Solutions</span>
          </button>
          <button class="white mb-2 me-2 py-2 px-3 d-flex align-items-center justify-content-center">
            <img class="me-2" src="../assets/images/check.png">
            <span>Product Design</span>
          </button>
          <button class="white mb-2 me-2 py-2 px-3 d-flex align-items-center justify-content-center">
            <img class="me-2" src="../assets/images/check.png">
            <span>IT Consulting</span>
          </button>
          <button class="white mb-2 me-2 py-2 px-3 d-flex align-items-center justify-content-center">
            <img class="me-2" src="../assets/images/check.png">
            <span>Tech Solutions</span>
          </button>
          <button class="white mb-2 me-2 py-2 px-3 d-flex align-items-center justify-content-center">
            <img class="me-2" src="../assets/images/check.png">
            <span>IT Consulting</span>
          </button>
        </div>
      </div>

      <span class="col-6 right d-flex align-items-start">
        <img class="ms-auto" src="../assets/images/about-1.png">
      </span>
    </div>

    <div class="content3 mt-5 pt-5 row white flex-column align-items-center justify-content-between mx-auto">

      <div class="mb-5 text-center">
        <img class="pseudo mb-2" src="../assets/images/pseudo.png">
        <h2 class="">Great Features To Do Your Buisness <br>
          Growth & Development</h2>
      </div>

      <div class="row justify-content-between">

        <span class="col-5 left pt-4 d-flex align-items-start">
          <img class="me-auto" src="../assets/images/bg-icon-two-dark.png.png">
        </span>

        <div class="col-6 right d-flex flex-column">

          <button class="white me-2 py-3 px-4 d-flex align-items-center justify-content-start">
            <img class="me-2 tick" src="../assets/images/service-icon-1.png.png">
            <div class="d-flex flex-column align-items-start justify-content-center me-5 ms-2">
              <h6>Graphics Design</h6>
              <p class="m-0">Sed perspiciatis unde omnis <br>
                natus error voluptatem</p>
            </div>

            <img class="arrow mt-2" src="../assets/images/Link.png">
          </button>

          <button class="white me-2 py-3 px-4 d-flex align-items-center justify-content-start">
            <img class="me-2 tick" src="../assets/images/service-icon-1.png.png">
            <div class="d-flex flex-column align-items-start justify-content-center me-5 ms-2">
              <h6>Graphics Design</h6>
              <p class="m-0">Sed perspiciatis unde omnis <br>
                natus error voluptatem</p>
            </div>

            <img class="arrow mt-2" src="../assets/images/Link.png">
          </button>

          <button class="white me-2 py-3 px-4 d-flex align-items-center justify-content-start">
            <img class="me-2 tick" src="../assets/images/service-icon-1.png.png">
            <div class="d-flex flex-column align-items-start justify-content-center me-5 ms-2">
              <h6>Graphics Design</h6>
              <p class="m-0">Sed perspiciatis unde omnis <br>
                natus error voluptatem</p>
            </div>

            <img class="arrow mt-2" src="../assets/images/Link.png">
          </button>

          <button class="white me-2 py-3 px-4 d-flex align-items-center justify-content-start">
            <img class="me-2 tick" src="../assets/images/service-icon-1.png.png">
            <div class="d-flex flex-column align-items-start justify-content-center me-5 ms-2">
              <h6>Graphics Design</h6>
              <p class="m-0">Sed perspiciatis unde omnis <br>
                natus error voluptatem</p>
            </div>

            <img class="arrow mt-2" src="../assets/images/Link.png">
          </button>

          <button class="white me-2 py-3 px-4 d-flex align-items-center justify-content-start">
            <img class="me-2 tick" src="../assets/images/service-icon-1.png.png">
            <div class="d-flex flex-column align-items-start justify-content-center me-5 ms-2">
              <h6>Graphics Design</h6>
              <p class="m-0">Sed perspiciatis unde omnis <br>
                natus error voluptatem</p>
            </div>

            <img class="arrow mt-2" src="../assets/images/Link.png">
          </button>
        </div>
      </div>

    </div>


    <footer class="pt-6 pb-2 mt-5 pt-5 row white flex-column align-items-center justify-content-between mx-auto">

      <div class="h-100 d-flex justify-content-between mb-3">

        <div class="info h-100 d-flex flex-column">
          <img class="logo" src="../assets/images/Logo-Lift-2022-B.png.png">

          <h3 class=" mt-4 mb-2">Follow</h3>

          <div class="media pointer row justify-content-start mt-2">
            <img src="../assets/images/icon.png">
            <img src="../assets/images/icon (1).png">
            <img src="../assets/images/icon (2).png">
            <img src="../assets/images/icon (3).png">
          </div>

        </div>

        <div class="services h-100">
          <h3 class=" m-0 mb-3">Services</h3>

          <ul class="d-flex flex-column justify-content-between p-0 m-0">
            <li class="mb-1">Product Design</li>
            <li class="mb-1">Business Consulting</li>
            <li class="mb-1">Customer Service</li>
            <li class="mb-1">Product Design</li>
            <li class="mb-1">Business Consulting</li>
          </ul>
        </div>

        <div class="contact h-100">
          <h3 class=" m-0 mb-3">Contact</h3>

          <div class="address mt-2 d-flex flex-column justify-content-between">

            <div class="d-flex align-items-center">
              <span class="me-2 ">
                <a class="">
                  785 Main Street, 2nd Block <br>
                  melbourne, australia
                </a>
              </span>
            </div>

            <div class="d-flex align-items-center mt-2">
              <span class="me-2">
                <a class="">support@gmail.com</a>
              </span>
            </div>

            <div class="d-flex align-items-center mt-2">
              <span class="me-2 ">
                <a class="">+000 (123) 456 88</a>
              </span>
            </div>

          </div>
        </div>

        <div class="news h-100 row flex-column justify-content-start align-items-end">
          <h3 class=" m-0 mb-3">Newsletter</h3>
          <p class=" m-0 mb-4">Get Every Single Update to <br>
            Join Our Newsletter</p>


          <div class="d-flex justify-content-between">
            <p>Email Address</p>
            <p>Signup</p>
          </div>
        </div>

      </div>

      <div class="copyright d-flex justify-content-end mt-5 mb-2">
        <p class="m-0  me-auto">Copyright ©2023 Atsu All Rights Reserved</p>

        <p class="m-0 me-4">Settings & Privacy</p>
        <p class="m-0 me-4">Faqs</p>
        <p class="m-0">Contact</p>
      </div>


    </footer>

  </section>

</main>