<main>
  <section class="d-flex flex-column comp1 w-100 pt-4 pb-4">
    <div class="mx-auto d-flex flex-column align-items-start h-100">

      <header class="w-100 d-flex justify-content-between align-items-center">
        <img class="logo" src="../assets/images/Logo-Lift-2022-B.png.png">
        <div class="nav d-flex">
          <div class="me-5">Home</div>
          <div class="me-5">Clients</div>
          <div class="me-5">Services</div>
          <div class="me-5">Projects</div>
          <div class="me-5">About</div>
          <div class="me-5">Contact</div>
        </div>
        <img class="menu pointer" src="../assets/images/Vector.svg">
      </header>

      <div class="content mt-5 row white justify-content-between">
        <div class="col-5 mb-5 d-flex flex-column justify-content-center align-items-start p-relative">
          <h1>We Provide <br> Smart Business <br> Solutions</h1>
          <p>Grow your Business With Us Best Business Solutions</p>
          <img class="p-absolute bulb" src="../assets/images/object-4.png.png">
        </div>
        <div class="col-7 d-flex justify-content-end">
          <img class="foreground" src="../assets/images/Image Forground.png">
        </div>
      </div>

      <div class="bottom-content mt-auto">
          <div class="top pb-3 white row justify-content-between">
            <h3 class="col-5">We’ve More Then 254+ <br> Global Partners</h3>
            <span class="col-5">
              Sed ut perspiciatis unde omnis natus error voluptatem santium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab nllo inventore veritatis quasi architecto beatae vitae
            </span>
          </div>
          <img class="w-100" src="../assets/images/Group 162535.png">
      </div>

    </div>
  </section>



</main>